@import '../variables.scss';
@import '../mixins.scss';

.benefits {
  padding: 0;

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: $regular;
    font-size: 22px;
    line-height: 27px;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 20px;
  }
}

@include atMobile {
  .benefits {
    &__text {
      font-size: 14px;
      line-height: 17px;
    }

    &__icon {
      width: 32px;
      height: 32px;

      margin-right: 8px;
    }
  }
}
