@import '../variables.scss';
@import '../mixins.scss';

.content {
    &__main-heading_type_hidden {
        visibility: hidden;
        font-size: 0;
        line-height: 0;
    }

    &__glider {
        margin-bottom: 70px;
    }
}