@import '../mixins.scss';

.flip {
  perspective: 600px;

  &__wrapper {
    transition: transform 500ms;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
  }

  &:hover &__wrapper,
  &:focus-within &__wrapper {
    transform: rotateY(0deg);
  }

  &:hover &__back,
  &:focus-within &__back {
    pointer-events: none;
  }

  &__front {
    backface-visibility: hidden;
  }

  &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: rotateY(180deg);
  }
}

@include atMobile {
  .flip {
    &__wrapper {
      transform: rotateY(0deg);
    }
  }
}
