@import '../variables.scss';
@import '../mixins.scss';

.footer {
  &__container {
    align-items: center;
    padding: 50px 0 45px;

    color: $blue;
  }

  &__contacts-wrapper {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
  }

  &__contact {
    font-weight: $medium;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;

    color: $violet;

    &:hover {
      opacity: 0.5;
    }
  }

  &__text-wrapper {
    grid-column: 5/9;
  }

  &__text {
    font-weight: $regular;
    font-size: 20px;
    line-height: 24px;
  }

  &__logo-link {
    grid-column: 9/-1;
    justify-self: flex-end;
    
  }
}

@include atMobile {
  .footer {
    row-gap: 30px;
    
    &__container {
      padding: 0 0 50px;
    }

    &__contacts-wrapper {
      grid-column: 1/-1;
      grid-row: 2;
    }

    &__contact {
      text-align: center;
    }

    &__text-wrapper {
      grid-column: 1/-1;
      grid-row: 3;
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    &__logo-link {
      grid-column: 1/-1;
      grid-row: 1;

      justify-self: center;
    }
  }
}
