@import '../variables.scss';
@import '../mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-weight: $regular;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  &__text {
    padding: 0;
    margin: 0;
  }

  &__radio-wrapper {
    margin: 16px 0 32px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__radio {
    visibility: hidden;
  }

  &__radio-label {
    margin-right: 40px;
    padding-left: 18px;

    cursor: pointer;
    user-select: none;

    display: block;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      content: '';

      position: absolute;
      top: -2px;
      left: -13px;

      width: 24px;
      height: 24px;

      border: solid 2px $blue;
      border-radius: 50px;

      background-color: transparent;
    }
  }

  &__text-input-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 48px;
  }

  &__text-input {
    padding: 9px 0;
    margin-bottom: 23px;
    box-sizing: border-box;

    border: none;
    border-bottom: 1px solid $blue;

    font-weight: $regular;
    font-size: 18px;
    line-height: 22px;
    color: $blue;

    &::placeholder {
      color: $blue;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__button {
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 17px 88px;

    font-weight: $medium;
    font-size: 22px;
    line-height: 27px;

    align-self: center;

    &:hover {
      opacity: 0.5;
    }
  }
}

.form__radio:checked + .form__radio-label::after {
  content: '';

  width: 8px;
  height: 8px;

  position: absolute;
  top: 8px;
  left: -3px;

  background: $blue;

  border-radius: 50%;
}

@include atMobile {
  .form {
    font-size: 16px;
    line-height: 20px;

    &__radio-wrapper {
      margin: 8px 0 20px;
    }
    &__radio-label {
      margin-right: 24px;

      &:before {
        top: -5px;
      }

      &:after {
        top: 5px;
      }
    }

    &__text-input-wrapper {
      margin-bottom: 32px;
    }

    &__text-input {
      font-size: 14px;
      line-height: 17px;

      padding: 3px 0;
      margin-bottom: 20px;
    }

    &__button {
      padding: 12px 63px;

      font-size: 20px;
      line-height: 24px;
    }
  }
}
