@import '../variables.scss';

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &__text {
    font-weight: $semi-bold;
    font-size: 28px;
    line-height: 34px;
    color: $dark-grey;
    margin: 0 0 0 20px;
  }
}

@include atMobile {
  .logo {
    &__icon {
      width: 33px;
    }

    &__text {
      font-size: 10px;
      line-height: 12px;
      margin: 0 0 0 13px;
    }
  }
}
