@import '../variables.scss';
@import '../mixins.scss';

.navigation {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-weight: $medium;
    font-size: 23px;
    line-height: 28px;
    color: $dark-grey;

    &:hover {
      opacity: 0.5;
    }
  }

  &__close-button {
    display: none;
  }
}

@include atMobile {
  .navigation {
    background: $blue;
    flex-direction: column;
    justify-content: center;


    &__list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__item {
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__close-button {
      display: block;

      background: transparent;
      border: none;

      position: absolute;
      top: 30px;
      right: 32px;

      cursor: pointer;
    }

    &__link {
      color: $light-blue;
    }
  }
}
