@import '../variables.scss';
@import '../mixins.scss';

.popup {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: $overlay-color;

  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

  font-family: $font-family;

  &_opened {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  &__container {
    background-color: $white;
    color: $blue;
    box-shadow: 0px 0px 25px $box-shadow-black;
    border-radius: 40px;

    padding: 48px 40px;
    max-width: 592px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__heading {
    font-weight: $semi-bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    margin: 0;
  }

  &__form {
    margin-top: 32px;
  }

  &__close-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 31px;
    right: 24px;

    &:hover {
      opacity: 0.5;
    }
  }
}

@include atMobile {
  .popup {
    &__container {
      max-width: $mobile-container-width;
      padding: 40px 20px 24px;
      border-radius: 24px;
    }

    &__form {
      margin-top: 24px;
    }

    &__heading {
      font-size: 16px;
      line-height: 20px;
    }

    &__close-button {
      top: 15px;
      right: 8px;
    }
  }
}
