@import './variables.scss';

@mixin atMobile {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

 @mixin atDesktop1130 {
   @media screen and (max-width: 1130px) {
     @content;
   }
 }

 @mixin retina {
   @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
     @content;
   }
 }

@mixin desktopGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $desktop-gap;

  max-width: $desktop-container-width;
  margin: 0 auto;
}

@mixin mobileGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $mobile-gap;

  max-width: $mobile-container-width;
  margin: 0 auto;
}
