$desktop-container-width: 1216px;
$desktop-gap: 32px;
$mobile-container-width: 280px;
$mobile-gap: 8px;

$font-family: 'Montserrat', Arial, sans-serif;
$semi-bold: 600;
$medium: 500;
$regular: 400;

$dark-grey: #333333;
$light-blue: #a0d2db;
$blue: #394573;
$violet: #726da8;
$white: #ffffff;
$black: rgba(0, 0, 0, 0);
$box-shadow-black: rgba(0, 0, 0, 0.25);
$overlay-color: rgba(47, 47, 47, 0.25);
